*{
    margin: 0;
    padding: 0;
}
body {
    background: silver;
    font-family: sans-serif;
}

.form-wrap {
    width: 320px;
    background: orangered;
    padding: 40px 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin-bottom: 20px;
}

input {
    width: 100%;
    background: none;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 6px 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
}
.button {
    background: white;
    border: 0;
    cursor: pointer;
    color: black;
}

.button:hover {
    background: red;
    transition: .6s;
}
::placeholder {
    color: #fff;
}

.fb-login-button {
    position: absolute;
    margin-top: 3%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%)
}
h2{
    color: white;
    text-align: center;
    font-size: medium;
}
h3 {
    color: lightgrey;
    text-align: center;
    font-size: small;
}
